
body{
    background-color: snow;
}
.wrap{
    width: 1200px;
   margin-left: 600px;
    line-height: 10px;
}
.block{
    border: 1px solid white;
    background-color: white;
    width: 450px;
    height: 550px;
    box-shadow: 0 0 5px grey;
}
.block1{
    margin-left: 10px ;
}
.ad1{
  margin-left: 20px;
    display: inline-block;
}
.ad2{
    margin-left: 4px;
}
.fg{
    margin-left: 20px;


}
.border{
    text-align: center;
    border-radius: 5px;
    display: inline-block;
    border: 1px solid black;
    width: 100px;
    height: 25px;
}
.border1{
    text-align: center;
    border-radius: 5px;
    display: inline-block;
    border: 1px solid black;
    width: 100px;
    height: 25px;
    margin-left: 10px;
}
.border2{
    text-align: center;
    border-radius: 5px;
     display: inline-block;
     border: 1px solid black;
     width: 100px;
     height: 25px;
    margin-left: 10px;
 }
.button{
    border: transparent 1px solid ;
    width: 200px;
    height: 30px;
    background-color: green;
    margin-left: 100px;
    border-radius: 8px;
}
.button2{
    font-size: 20px;
    text-align: center;
    color: blue;
}
.text{
    margin-top: 5px;
    font-size: 25px;
    text-align: center;
    color: white;
}
.block-item{

}
img{
    margin-left: 570px;
}