body{
    background-color: #282828;
}
.wrap{
    width: 1200px ;
    margin: 100px auto;

}
.wrap-menu{
    width: 450px;
    height: 700px;
    border-radius: 5px;
    margin: 0 auto;
    background-color: rgba(12,12,15,0.82);
    border: 1px solid transparent ;


}
.menu-item{
    border: 1px solid black;
    width: 99.5%;
    height: 70px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    background-color:#454955 ;
}
label{
    margin-left: 30px;
}
input{
    margin-top: 10px;
    margin-left: 35px;
}
.txt{
    color: grey;
    display: inline-block;
}
.txt1{
    display: inline-block;
}
.block-txt{
    margin-left: -10px;
}
.button{
    width: 100px;
    height: 40px;
    border: transparent 1px solid;
    background-color: dodgerblue;
    border-radius: 8px;
    margin-left: 10px;
}
.txt2{
    color: white;
    font-size: 25px;
    text-decoration: none;
    margin-left: 15px;
}
.txt3{
    width: 300px;
    height: 30px;
    border: transparent 1px solid;
    background-color:#454955 ;
    border-radius: 8px;
    font-size: 25px;
    text-align: center;
    margin-left: 80px;
    color: white;
}